# Бінарні дії 

## 1. Таблиця Келі

В Sage є можливість створити табличку Келі деякої множини і визначеної дії на ній.

In [1]:
from sage.matrix.operation_table import OperationTable

Створимо Діедральну групу $D_4$ і побудуємо для неї табличку Келі:

In [23]:
G = DihedralGroup(4)

In [25]:
OperationTable(G, operator.mul, names='elements')

         *          ()      (2,4) (1,2)(3,4)  (1,2,3,4)      (1,3) (1,3)(2,4)  (1,4,3,2) (1,4)(2,3)
          +----------------------------------------------------------------------------------------
        ()|         ()      (2,4) (1,2)(3,4)  (1,2,3,4)      (1,3) (1,3)(2,4)  (1,4,3,2) (1,4)(2,3)
     (2,4)|      (2,4)         ()  (1,2,3,4) (1,2)(3,4) (1,3)(2,4)      (1,3) (1,4)(2,3)  (1,4,3,2)
(1,2)(3,4)| (1,2)(3,4)  (1,4,3,2)         ()      (1,3)  (1,2,3,4) (1,4)(2,3)      (2,4) (1,3)(2,4)
 (1,2,3,4)|  (1,2,3,4) (1,4)(2,3)      (2,4) (1,3)(2,4) (1,2)(3,4)  (1,4,3,2)         ()      (1,3)
     (1,3)|      (1,3) (1,3)(2,4)  (1,4,3,2) (1,4)(2,3)         ()      (2,4) (1,2)(3,4)  (1,2,3,4)
(1,3)(2,4)| (1,3)(2,4)      (1,3) (1,4)(2,3)  (1,4,3,2)      (2,4)         ()  (1,2,3,4) (1,2)(3,4)
 (1,4,3,2)|  (1,4,3,2) (1,2)(3,4)      (1,3)         () (1,4)(2,3)  (1,2,3,4) (1,3)(2,4)      (2,4)
(1,4)(2,3)| (1,4)(2,3)  (1,2,3,4) (1,3)(2,4)      (2,4)  (1,4,3,2) (1,2)(3,4)      (1,3)         ()

Група в Sage -- це буквально множина елементів, які можна множити. Скінченні групи часто зображаються як підгрупи деякої групи підстановок.

In [58]:
elements = G.list()
elements

[(), (1,3)(2,4), (1,4,3,2), (1,2,3,4), (2,4), (1,3), (1,4)(2,3), (1,2)(3,4)]

In [59]:
elements[2] * elements[1]

(1,2,3,4)

In [63]:
G = SymmetricGroup(3)
G

Symmetric group of order 3! as a permutation group

In [64]:
OperationTable(G, operation=operator.mul, names='elements')

      *       ()   (2,3)   (1,2) (1,2,3) (1,3,2)   (1,3)
       +------------------------------------------------
     ()|      ()   (2,3)   (1,2) (1,2,3) (1,3,2)   (1,3)
  (2,3)|   (2,3)      () (1,2,3)   (1,2)   (1,3) (1,3,2)
  (1,2)|   (1,2) (1,3,2)      ()   (1,3)   (2,3) (1,2,3)
(1,2,3)| (1,2,3)   (1,3)   (2,3) (1,3,2)      ()   (1,2)
(1,3,2)| (1,3,2)   (1,2)   (1,3)      () (1,2,3)   (2,3)
  (1,3)|   (1,3) (1,2,3) (1,3,2)   (2,3)   (1,2)      ()

In [65]:
G.list()

[(), (1,3,2), (1,2,3), (2,3), (1,3), (1,2)]

In [66]:
OperationTable(Integers(10), operation=operator.add, names='elements')

+  0 1 2 3 4 5 6 7 8 9
 +--------------------
0| 0 1 2 3 4 5 6 7 8 9
1| 1 2 3 4 5 6 7 8 9 0
2| 2 3 4 5 6 7 8 9 0 1
3| 3 4 5 6 7 8 9 0 1 2
4| 4 5 6 7 8 9 0 1 2 3
5| 5 6 7 8 9 0 1 2 3 4
6| 6 7 8 9 0 1 2 3 4 5
7| 7 8 9 0 1 2 3 4 5 6
8| 8 9 0 1 2 3 4 5 6 7
9| 9 0 1 2 3 4 5 6 7 8

## 2. Визначення довільної бінарної дії

В документації OperationTable вказано: 

```
 |  - ``operation`` - a function of two variables that accepts pairs
 |      of elements from ``S``. A natural source of such functions is
 |      the Python :mod:`operator` module, and in particular
 |      :func:`operator.add` and :func:`operator.mul`. This may also
 |      be a function defined with ``lambda`` or ``def.``
```

Тобто щоб побудувати табличку Келі для деякої бінарної дії нам треба спершу визначити цю дію як функцію від двох змінних. Але щоб перебирати всі можливі бінарні дії нам треба їх задавати табличкою...

Щоб перебрати всі можливі відображення з однієї множини в іншу є спеціальний клас __FiniteSetMaps__.

In [68]:
M = FiniteSetMaps([1, 2, 3], ['foo', 'bar'])
M

Maps from {1, 2, 3} to {'foo', 'bar'}

In [69]:
for el in M: 
    print(el)

map: 1 -> foo, 2 -> foo, 3 -> foo
map: 1 -> foo, 2 -> foo, 3 -> bar
map: 1 -> foo, 2 -> bar, 3 -> foo
map: 1 -> foo, 2 -> bar, 3 -> bar
map: 1 -> bar, 2 -> foo, 3 -> foo
map: 1 -> bar, 2 -> foo, 3 -> bar
map: 1 -> bar, 2 -> bar, 3 -> foo
map: 1 -> bar, 2 -> bar, 3 -> bar

За означенням, бінарна дія на множині $S$ це відображення з декартового добутку $S^2$ в саму $S$. Ми можемо за означенням так і зробити:

In [39]:
from itertools import product

In [70]:
need_set = [1, 2, 3, 4]

M = FiniteSetMaps(product(need_set, repeat=2), need_set)
M

Maps from {(1, 1), (1, 2), (1, 3), (1, 4), (2, 1), (2, 2), (2, 3), (2, 4), (3, 1), (3, 2), (3, 3), (3, 4), (4, 1), (4, 2), (4, 3), (4, 4)} to {1, 2, 3, 4}

In [71]:
M.cardinality()

4294967296

In [73]:
f = M[0]
f

map: (1, 1) -> 1, (1, 2) -> 1, (1, 3) -> 1, (1, 4) -> 1, (2, 1) -> 1, (2, 2) -> 1, (2, 3) -> 1, (2, 4) -> 1, (3, 1) -> 1, (3, 2) -> 1, (3, 3) -> 1, (3, 4) -> 1, (4, 1) -> 1, (4, 2) -> 1, (4, 3) -> 1, (4, 4) -> 1

Але ми не можемо отак сходу побудувати табличку Келі, бо клас OperationTable очікує функцію від двох змінних, а відображення `f` приймає кортеж на вхід.

In [78]:
f((2, 3))

1

In [77]:
# викине помилку 
OperationTable(need_set, f)

Тому треба зробити невеликий костиль:

In [83]:
def _f(x, y): 
    return f((x, y))

OperationTable(need_set, _f, names='elements')

.  1 2 3 4
 +--------
1| 1 1 1 1
2| 1 1 1 1
3| 1 1 1 1
4| 1 1 1 1

In [55]:
i = 0

for f in M: 
    i += 1
    print(f)
    def _f(x, y): 
        return f((x, y))

    print(OperationTable(need_set, _f, names='elements'))

    if i == 10: break

map: (1, 1) -> 1, (1, 2) -> 1, (1, 3) -> 1, (2, 1) -> 1, (2, 2) -> 1, (2, 3) -> 1, (3, 1) -> 1, (3, 2) -> 1, (3, 3) -> 1
.  1 2 3
 +------
1| 1 1 1
2| 1 1 1
3| 1 1 1

map: (1, 1) -> 1, (1, 2) -> 1, (1, 3) -> 1, (2, 1) -> 1, (2, 2) -> 1, (2, 3) -> 1, (3, 1) -> 1, (3, 2) -> 1, (3, 3) -> 2
.  1 2 3
 +------
1| 1 1 1
2| 1 1 1
3| 1 1 2

map: (1, 1) -> 1, (1, 2) -> 1, (1, 3) -> 1, (2, 1) -> 1, (2, 2) -> 1, (2, 3) -> 1, (3, 1) -> 1, (3, 2) -> 1, (3, 3) -> 3
.  1 2 3
 +------
1| 1 1 1
2| 1 1 1
3| 1 1 3

map: (1, 1) -> 1, (1, 2) -> 1, (1, 3) -> 1, (2, 1) -> 1, (2, 2) -> 1, (2, 3) -> 1, (3, 1) -> 1, (3, 2) -> 2, (3, 3) -> 1
.  1 2 3
 +------
1| 1 1 1
2| 1 1 1
3| 1 2 1

map: (1, 1) -> 1, (1, 2) -> 1, (1, 3) -> 1, (2, 1) -> 1, (2, 2) -> 1, (2, 3) -> 1, (3, 1) -> 1, (3, 2) -> 2, (3, 3) -> 2
.  1 2 3
 +------
1| 1 1 1
2| 1 1 1
3| 1 2 2

map: (1, 1) -> 1, (1, 2) -> 1, (1, 3) -> 1, (2, 1) -> 1, (2, 2) -> 1, (2, 3) -> 1, (3, 1) -> 1, (3, 2) -> 2, (3, 3) -> 3
.  1 2 3
 +------
1| 1 1 1
2| 1 1 1
3| 1 2 3

map: (1, 1) -> 1, (1, 2) -> 1, (1, 3) -> 1, (2, 1) -> 1, (2, 2) -> 1, (2, 3) -> 1, (3, 1) -> 1, (3, 2) -> 3, (3, 3) -> 1
.  1 2 3
 +------
1| 1 1 1
2| 1 1 1
3| 1 3 1

map: (1, 1) -> 1, (1, 2) -> 1, (1, 3) -> 1, (2, 1) -> 1, (2, 2) -> 1, (2, 3) -> 1, (3, 1) -> 1, (3, 2) -> 3, (3, 3) -> 2
.  1 2 3
 +------
1| 1 1 1
2| 1 1 1
3| 1 3 2

map: (1, 1) -> 1, (1, 2) -> 1, (1, 3) -> 1, (2, 1) -> 1, (2, 2) -> 1, (2, 3) -> 1, (3, 1) -> 1, (3, 2) -> 3, (3, 3) -> 3
.  1 2 3
 +------
1| 1 1 1
2| 1 1 1
3| 1 3 3

map: (1, 1) -> 1, (1, 2) -> 1, (1, 3) -> 1, (2, 1) -> 1, (2, 2) -> 1, (2, 3) -> 1, (3, 1) -> 2, (3, 2) -> 1, (3, 3) -> 1
.  1 2 3
 +------
1| 1 1 1
2| 1 1 1
3| 2 1 1